build

devel/_setup_util.py
devel/lib/pkgconfig/ros.pc
devel/setup.sh
devel/share/ros/cmake/rosConfig.cmake
devel/.rosinstall
devel/lib/ros/cmd

**catkin*
**.catkin*
**CMakeLists.txt
**CMakeCache.txt
**CMakeFiles
**cmake_install.cmake
**CTestTestfile.cmake
**gtest

**mav.*
**logs
**terrain
**eeprom.bin